{% assign posts = site.pages | where:"lang", page.lang %}

<!-- User Guide -->
<div class="intro-container">
  <div class="title"><img src="/assets/index/ic-userguide.png"> {{ site.data.i18n[page.lang].submenu_user-guide }}</div>
  <div class="row">
  {% for post in posts %}
    {% if post.title != 'ThingPlus' and post.tags contains 'user-guide' %} 
      <div class="col-xs-12 col-sm-4">
        <div class="intro-box">
          <a href="{{ post.url }}" class="{{ post.lang }}">
            <div class="intro-box-top">
            {% if post.video == "yes" %}
            <div class="video_icon"> </div>
            {% endif %}
              <img src="/assets/index/{{ post.img }}">
            </div>
            <div class="intro-box-bottom">
              {{ post.title }}
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}    
  </div>
</div> 
<div class="clearfix"></div>
<br/><br/>
<!-- Open Hardware -->
<div class="op-container">
  <div class="title"><img src="/assets/index/ic-openhw.png"> {{ site.data.i18n[page.lang].submenu_open-hardware }}</div>
  <div class="row">
  {% for post in posts %}
    {% if post.title != 'ThingPlus' and post.tags contains 'open-hardware' %} 
      <div class="col-xs-12 col-sm-4">
        <div class="op-box">
          <a href="{{ post.url }}" class="{{ post.lang }}">
            <div class="op-box-top">
            {% if post.video == "yes" %}
            <div class="video_icon"> </div>
            {% endif %}
              <img src="/assets/index/{{ post.img }}">
            </div>
            <div class="op-box-bottom">
              {{ post.title | remove: "사용자 가이드" | remove: "User Guide" | remove: "module -"}}            
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div> 
<div class="clearfix"></div>
<br/><br/>
<!-- REST API -->
<div class="intro-container">
  <div class="title"> <img src="/assets/index/ic-help.png">{{ site.data.i18n[page.lang].submenu_rest-api }}</div>
  <div class="row">
  {% for post in posts %}
    {% if post.title != 'ThingPlus' and post.tags contains 'rest-api' %} 
      <div class="col-xs-12 col-sm-4">
        <div class="intro-box">
          <a href="{{ post.url }}" class="{{ post.lang }}">
            <div class="intro-box-top">
            {% if post.video == "yes" %}
            <div class="video_icon"> </div>
            {% endif %}
              <img src="/assets/index/{{ post.img }}">
            </div>
            <div class="intro-box-bottom">
              {{ post.title }}
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div> 
<div class="clearfix"></div>
<br/><br/>
<!-- FAQ  -->
<div class="intro-container">
  <div class="title"><img src="/assets/index/ic-userguide.png"> {{ site.data.i18n[page.lang].submenu_help }}</div>
  <div class="row">
  {% for post in posts %}
    {% if post.title != 'ThingPlus' and post.tags contains 'help' %} 
      <div class="col-xs-12 col-sm-4">
        <div class="intro-box">
          <a href="{{ post.url }}" class="{{ post.lang }}">
            <div class="intro-box-top">
            {% if post.video == "yes" %}
            <div class="video_icon"> </div>
            {% endif %}
              <img src="/assets/index/{{ post.img }}">
            </div>
            <div class="intro-box-bottom">
              {{ post.title }}
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div> 
<div class="clearfix"></div>

