@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

 body {
  padding-top: 70px;
  font-family: "Apple SD Gothic Neo", NanumGothic, "Open Sans", sans-serif;
}

.container {
  max-width: none;
}

/* table styles (customized) */
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
table {
  max-width: 90%;
  margin-bottom: 20px;
  border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-transform: uppercase;
  background-color: #444;
  color: white;
  text-align: center;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}


table td:first-child {
  width: 150px;
  /*font-weight:bold;*/
}

table.boldFirstColumn td:first-child {
    font-weight: bold;
}

table tr td {
  hyphens: auto;
}
/* end table styles */

/*a {*/


/*text-decoration: none !important;*/


/*}*/

a:hover, a:focus {
  color: #4183C4;
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none !important;
}

.navbar {
  border: 0px;
  background-color: #202835;
}

.navbar-inner {
  padding: 7px 0px;
  background-image: none;
  background-color: #202836;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}


/*.navbar .nav.pull-right li {*/


/*line-height: 42px*/


/*}*/

.navbar .nav.pull-right a {
  margin-right: 40px;
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  font-weight: bold;
  text-shadow: none;
}

.navbar .nav.pull-right li:last-child a {
  margin-right: 0px;
}

.navbar .nav.pull-right a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  margin: 10px;
  color: #ffffff;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar .logo {
  padding: 10px 20px;
  display: inline-block;
}

.navbar .logo img {
  height: 30px;
}

.lang-select {
  min-width: 120px;
}

#sidebar {
  width: 225px;
}

@media (min-width: 1200px) {
  ul#sidebar {
    width: 225px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .container {
    width: 100%;
  }
  ul#sidebar {
    width: 20%;
  }
}

@media (max-width: 768px) {
  
  body {
    padding-top: 50px;
  }

  ul#sidebar {
    min-height: 0px;
    position: static;
    width: auto;
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

.sidebar-outer {
  position: relative;
}

.sidebar-inner {
  position: fixed;
}


/* navgoco sidebar styles (customized) */
#sidebar .nav ul {
  background-color: #FAFAFA;
}

.nav ul.series li {
  list-style: decimal;
  font-size: 12px;
}

.nav ul.series li a:hover {
  background-color: gray;
}

.nav ul.series {
  padding-left: 30px;
}

.nav ul.series {
  background-color: #FAFAFA;
}

.nav, .nav ul, .nav li {
  list-style: none;
}

.nav ul {
  padding: 0;
  /*margin: 0 0 0 18px;*/
  margin: 0px;
}

.nav {
  /* padding: 4px;*/
  padding: 0px;
  margin: 0px;
}

.nav > li {
  margin: 1px 0;
}

.nav > li li {
  margin: 2px 0;
}

.nav a {
  color: #333;
  display: block;
  outline: none;
  /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
  text-decoration: none;
}

.nav li > a > span {
  float: right;
  font-size: 19px;
  font-weight: bolder;
}

.nav li > a > span:after {
  content: '\25be';
}

.nav li.open > a > span:after {
  content: '\25b4';
}

.nav a:hover, .nav li.active > a {
  background-color: #bdc4cd;
  color: #ffffff;
}

.nav > li.active > a, .nav > li.active > a:hover{
  background-color: #212836;
}

.nav li a {
  font-size: 12px;
  line-height: 18px;
  padding: 2px 10px;
}

.nav > li > a {
  font-size: 14px;
  line-height: 20px;
  padding: 4px 10px;
}

.nav > li > a:hover {
  background-color: #909ba9;
  color: #ffffff;
}


ul#sidebar {
  margin-top: 30px;
  border-radius: 0px;
}

.nav ul li ul li a {
  padding-left: 20px;
}

.nav li.thirdlevel > a {
  background-color: #FAFAFA !important;
  color: #248EC2;
  font-weight: bold;
}

.nav ul li a {
  background-color: #FAFAFA;
}

.nav li a {
  background-color: #EDEDED;
  padding-right: 10px;
}

.nav ul li a {
  border-top: 1px solid whitesmoke;
  padding-left: 10px;
}


.ledtip { font:Verdana, Geneva, sans-serif; font-size:12px; font-weight:bold; color:#666; position:relative;  


}
.ledtip:hover:after{
 content:attr(data-tooltip);
 padding:10px;
 width: 200px;
 height: 200px;

 background-image: url('/../assets/led.png');
 display:block;
 position:relative; top:20px; 
 white-space:nowrap;
}
ledtip:hover:before{
 display:block;
 content:"";
 position:absolute; top:15px; left:50px;
 border-right:10px solid transparent; 
 border-bottom:10px solid #333; 
 border-left:10px solid transparent;  
}

/*chris*/
h4{
  font-size: 28px}

p.dwExpand {
  color:#000000; 
  /*background-color:#f9f2f4; */
  background-color:#e0e8f3; 
  border-radius:4px; 
  padding: 2px 4px;
  padding-left: 26px; 
  font-size: 90%; 
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}

.dwExpand.ui-closed:before {
  /*font-family:monospace;*/
  position: absolute; 
  right: 50px;
  padding-left: 30px;
  font-family: FontAwesome;
  content:"\f078 ";

}
.dwExpand.ui-open:before {
  /*font-family:monospace;*/
  position: absolute; 
  right: 50px;
  padding-left: 30px;
  font-family: FontAwesome;
  content:"\f077 ";
  border-left: 5px;
}
/* end sidebar */
/*FAQ*/

p.dwfqExpand {
  color:#000000; 
  /*background-color:#f9f2f4; */
  /*background-color:#e0e8f3; */
  /*border-radius:4px; */
  height: 30px;
  padding: 2px 4px;
  /*padding-left: 26px; */
  font-size: 90%;   
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;

}
p.dwfqExpand b {
  color:red;
}

.detail2 pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    margin-right: 5px;
    background-color: rgba(242, 222, 222, 0.52);
    border: 1px solid #f2dede;
    border-radius: 4px;
}

.detail2{
  padding-left: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f3f3f3;
}
.dwfqExpand.ui-open.line2 {
  /*border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #eeeeee;*/

}
.dwfqExpand.ui-closed.line {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #eeeeee;

}

.dwfqExpand.ui-closed:before {
  /*font-family:monospace;*/
  position: absolute; 
  right: 50px;
  padding-left: 30px;
  height: 67px;
  font-family: FontAwesome;
  font-size:14px;
  color:#979797;
  content:"\f078 ";
}
.dwfqExpand.ui-open:before {
  /*font-family:monospace;*/
  position: absolute; 
  right: 50px;
  /*padding-left: 30px;*/
  height: 67px;
  font-size: 14px;
  color:#979797;
  font-family: FontAwesome;
  content:"\f077 ";
  border-left: 5px;
}


.answer{
  font-size: 24px;
  color: #49526b;
  font-weight: 700;

}
/*end FAQ*/



a.back-to-top {
    display: none;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    font-family: FontAwesome;
    content: "\f077";
    font-size: 40px;
    color: #333;
    /*background: transparent url("http://static1.squarespace.com/static/565d8903e4b07ad504d433d8/t/566aab96c21b86abf170e486/1449831318773/arrows-48px-glyph-1_circle-up-39.png") no-repeat center 43%;*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    transition: all .8s ease;
}


.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px; 
}
.scroll {
  position:absolute;
  right:20px;
  bottom:20px;
  padding:20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}

/*regisgter window*/
.register{
  height: 149px;
  margin-top: 10px;
  border-top-color: #d8d8d8;
  border-style: solid;
  border-bottom-color: #d8d8d8;
  border-right: none;
  border-left: none;
  font-family: 'Spoqa Han Sans', 'SpoqaHanSans-kr', 'Sans-serif'; 
  font-size: 14px;
  /*font-weight: bold;*/
  border-width: 1px;
  /*position: fixed;*/
  /*margin-top: 350px;*/
  text-align: center;
  padding-top: 29px;
}

.reg_button{
  margin-top: 10px;
  padding-top: 12px;
  /*width: 214px;*/
  height: 44px;
  background-color: #ffc107;
  font-family: 'Spoqa Han Sans', 'SpoqaHanSans-kr', 'Sans-serif'; 
  font-size: 16px;
  font-weight:bolder; 
  color: #333333;
  text-decoration: bold;
  cursor: pointer;
  text-align:center;
}

.fb_user{
  /*position: fixed;
  margin-top: 730px;*/
  margin-top: 10px;
  cursor: pointer;
}

